.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  justify-items: center;
}

.poke-card {
  color: #000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a3a3a8b;
  box-shadow: 1px 1px 10px #0000002d;
  border-radius: 10%;
  transition: scale 150ms ease-out;
}

.poke-card img {
  width: 180px;
  height: 180px;
}

.poke-card:hover {
  cursor: pointer;
  scale: 1.1;
}

@media (max-width: 1100px) {
  .poke-card img {
    width: 130px;
    height: 130px;
  }

  .cards-container {
    gap: 10px;
  }
}
