@font-face {
  font-family: "Gameboy";
  src: url(./assets/GameBoy.ttf);
}

body {
  background-image: url(./assets/4824751.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Gameboy", "Courier New", Courier, monospace;
  font-size: 12px;
  letter-spacing: -1px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, 1px 1px 0 #fff;
}
