@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-coding-bold {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 700;
  font-style: normal;
}

.rules-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.rules-modal-content {
  display: flex;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.3rem;
  letter-spacing: 0px;
  flex-direction: column;
  align-items: center;
  background-color: #fffadb;
  margin: 10% auto;
  padding: 1% 2%;
  border: 1px solid #888;
  border-radius: 20px;
  min-width: 400px;
  width: 50%;
}

/* The Close Button */
.close {
  color: #6a6a6a;
  position: relative;
  top: -8px;
  left: 51%;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.lose-modal-header {
  font-size: 2rem;
}

button {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, 1px 1px 0 #fff;
}

.rules-close {
  background: linear-gradient(#e591b0, #de2e69);
  padding: 1rem;
  border: 3px solid #85175d5d;
  font-family: "Gameboy";
  border-radius: 10px;
}

.button-wrapper {
  display: flex;
  gap: 20px;
}

.rules-close:hover {
  background: linear-gradient(#de2e69, #e591b0);
}

button:hover {
  box-shadow: 1px 1px 5px #00000027;
  cursor: pointer;
}
